* {
	padding: 0px;
	margin: 0px;
	font-family: 'Microsoft YaHei';
}
#main {
	width: 100%;
	height: auto;
}

header {
	width: 100%;
	height: 60px;
}

#headerdiv1 {
	margin-top: 15px;
	margin-left: 100px;
	width: 300px;
}

#headerdiv1 img {
	width: 35px;
	height: 35px;
}

#headerdiv1 p {
	font-size: 20px;
	position: relative;
	top: -25px;
	left: 55px;
}

header nav {
	position: relative;
	top: -55px;
	left: 700px;
	width: 440px;
}

header nav ul {
	list-style-type: none;
}
header nav ul li {
	display: inline;
	margin-right: 20px;
	font-size: 14px;
	text-align: center;
	width: 60px;
	color: #534141;
	cursor: pointer;
	-webkit-transition:color 0.4s ease-in-out;
    -moz-transition:color 0.4s ease-in-out;
    transition:color 0.4s ease-in-out;
}

header nav ul li:hover{
    color: #F04C57;
}

header .move {
	border-bottom: 2px solid #E53C3C;
	position: absolute;
	top: 47px;
	left: -13px;
	width: 60px;
	-webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

header nav ul li:nth-child(1):hover~.move {
	left: -13px;
}

header nav ul li:nth-child(2):hover~.move {
	left: 52px;
}

header nav ul li:nth-child(3):hover~.move {
	left: 135px;
}

header nav ul li:nth-child(4):hover~.move {
	left: 217px;
}

header nav ul li:nth-child(5):hover~.move {
	left: 297px;
}

#headerright {
	position: absolute;
	top: 30px;
	left: 90%;
}

#headerright .move {
	border-bottom: 2px solid #E53C3C;
	position: absolute;
	top: 43px;
	left: 0px;
	width: 0;
	-webkit-transition:width 0.4s ease-in-out;
	-moz-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;
}

#headerright:hover .move {
	width: 60px;
}

#div-1 {
	width: 100%;
	height: 650px;
}

#div-1 img {
	width: 100%;
	height: 100%;
}

#time {
	position: relative;
	top: -420px;
	left: 120px;
}
#time p{
	font-size: 22px;
    color: #ffffff;
    margin: 0;
}

#time p:first-child {
	font-family: Arial;
	font-size: 60px;
	letter-spacing: 3px;
	color: #ffffff;
	margin-bottom: 20px;
}

#time p:last-of-type {
	margin-bottom: 60px;
}

#time span {
	display: block;
	width: 300px;
	height: 60px;
	background-color: #E53C3C;
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	cursor: pointer;
	line-height: 60px;

	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#time span:hover {
	background-color: #ff0000;
	border-radius: 3px;
}

#div-2 {
	width: 100%;
	height: 240px;
}

#div-21,#div-22,#div-23,#div-24 {
	width: 24%;
	height: 240px;
	display: inline-block;
}

#div-2 div img {
	margin: 40px 0 40px 143px;
}

#div-2 div div {
	border-left: 2px solid #F34233;
}

#div-2 div div {
	font-size: 13px;
    color: #534141;
    text-align: center;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#div-2 div div:hover {
	color: #BE4F48;
}

#div-3 {
	width: 100%;
	height: 400px;
	background: #EDEAEA;
}
#div-3 img {
	margin: 90px 0 50px 630px;
}

#div-3 div {
	background: #EDEAEA;
	text-align: center;
}

#div-3 p {
	font-size: 53px;
	font-family: "黑体";
	color: #534141;
}

#div-4 {
	width: 100%;
	height: 340px;
	padding-top: 50px;
	box-sizing: border-box;
    text-align: center;
	background-image: url(../images/pic02.jpg);
	background-size: cover;
}

#div-4 .message {
	height: 150px;
	padding-top: 50px;
}

#div-4 .message p:first-child {
	color: #ffffff;
	font-size: 22px;
}

#div-4 .message p:last-of-type {
	color: #ffffff;
	font-size: 13px;
	margin-top: 20px;
}

#div-4 .message span {
	border-bottom: 2px solid #E53C3C;
	width: 50px;
	height: 20px;
	margin-top: -20px
	display: inline-block;

	-webkit-transition:width 0.4s ease-in-out;
	-moz-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;
}

#div-4 .message span:hover {
	width: 300px;
}

#selecters {
	margin-top: 30px;
}

#options .select {

}
#options .select{
  	width: 240px;
    height: 36px;
    margin: 0 10px;
    
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;
    
    display: inline-block;
    position: relative;
    
    box-sizing: border-box;
    border: 1px solid #C6B3AF;
    
    background: url(../images/icon-7.png) no-repeat 210px 8px,#fff;
    background-size: 20px;
}

#options .selecter4 {
	display: none;
}

#selecters input[type="radio"] {
	width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: -50px;
    left: -10px;
    z-index: 10;
}

#options {
	position: relative;
	top: -95px;
}

#options .selecter1 {
	position: absolute;
	left: 150px;
}

#options .selecter2 {
	position: absolute;
	left: 420px;
}
#options .selecter3 {
	position: absolute;
	left: 680px;
}
#options .selecter4 {
	position: absolute;
	left: 940px;
}

#options .option {
	width: 240px;
	background-color: #E3E3E5;
	position: relative;
	display: none;
	top: -1px;
	left: -1px;
}

#selecters input[type="radio"]:nth-of-type(1):checked~#options .selecter1,
#selecters input[type="radio"]:nth-of-type(2):checked~#options .selecter2,
#selecters input[type="radio"]:nth-of-type(3):checked~#options .selecter3 {
	border: 2px solid #AE7271;
}

#selecters input[type="radio"]:nth-of-type(1):checked~#options .selecter1 .option,
#selecters input[type="radio"]:nth-of-type(2):checked~#options .selecter2 .option,
#selecters input[type="radio"]:nth-of-type(3):checked~#options .selecter3 .option {
	top: -4px;
	left: -2px;
	display: block;
}

#selecters input[type="submit"] {
	width: 240px;
	height: 36px;
	font-size: 14px;
    line-height: 36px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    color: #B3B3B3;
    position: relative;
    top: -60px;
    background-color: #BE4F48;
    letter-spacing: 30px;
    cursor: pointer;

    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#selecters input[type="submit"]:hover {
	background-color: #E31212;
    border-radius: 3px;
}

#options .option ul {
	margin: 0;
    padding: 0;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #AE7271;
    border-top-width: 0;
}

#options .option ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}

#options .option ul li:hover {
	background: url(../images/icon-8.png) no-repeat 10px 8px,#BF4E48;
    background-size: 20px;
    color: #fff;
}

#div-5 {
	height: 600px;
	width: 100%;
	background-color: #f7f7f7;
}

#div-5 .div-51 {
	width: 220px;
	height: 400px;
	display: inline-block;
	margin-right: 70px;
	margin-top: 100px; 
}

#div-5 .div-511 {
	margin-left: 120px;
}

#div-5 div:first-child {
	/*margin-left: 150px;*/
}

#div-5 .div-51 .img5 {
	margin-bottom: 10px;
}

#div-5 .div-51 .img5 {
	height: 300px;
	width: 220px;
}

#div-5 .div-51 .p5 {
	text-align: center;
	margin-top: 50px;
}

#div-5 .div-51 .p52 {
	margin-top: 0px;
}

#div-5 .div-51 p:first-child {
	font-size: 14px;
    color: #44403F;
    margin: 0;
}

#div-5 .div-51 p:last-of-type {
	font-size: 12px;
    color: #B3AFAC;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-6 {
	width: 100%;
	height: 570px;
}

#div-6 img {
	width: 100%;
	height: 100%;
}

#div-6left {
	width: 68%;
	height: 100%;
	text-align: center;
	background-image: url(../images/pic07.jpg);
	background-size: cover;
	float: left;
}

#div-6left p {
	color: #ffffff;
	position: relative;
	top: 100px;
}

#div-6left p:nth-child(1) {
	font-size: 50px;

}

#div-6left p:nth-child(2) {
	font-size: 150px;

}

#div-6left p:nth-child(3),
#div-6left p:nth-child(4) {
	font-size: 30px;
}

#div-6 #div-6left .trangle {
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	top: -90px;
	left: 856px;
	position: relative;
	width: 0px;
	height: 0px;
	border-width: 30px;
}

#div-6right {
	float: right;
	width: 32%;
}

#div-6right .message {
	width: 300px;
	height: 300px;
	text-align: center;
	margin: 130px auto;
}

#div-6right .message .msg {
	position: relative;
	top: -100px;
}

#div-6right .message .msg p:nth-of-type(1) {
	font-size: 24px;
	font-family: "宋体";
	color: #000;
	line-height: 60px;
}

#div-6right .message .msg p:nth-of-type(1) span {
	color: #ff0000;
}

#div-6right .message .msg p:nth-of-type(2) {
	font-size: 12px;
	font-family: "宋体";
	color: #B3AFAC;
	line-height: 26px;
	text-align: left;

	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	transition: color 0.4s ease-in-out;
}

#div-6right .message .msg p:nth-of-type(2):hover {
	color: #000;
}

#div-6right .message .msg2 {
	display: none;
}

#div-6right .message .msg3 {
	display: none;
}

#div-6right .message .rightdes {
	width: 110px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	color: #ff0000;
	border: 1px solid #ff0000;
	margin: 60px auto 30px;
	padding-top: 10px;
	cursor: pointer;
	position: relative;
	top: 170px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#div-6right .message .rightdes:hover {
	background-color: #ff0000;
	color: #ffffff;
}

#div-6right .message .newlist {
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius : 10px;
	z-index: 1;
	border: 1px solid #6C5C5C;
	background-color: #FFF;
	position: relative;
	top: 170px;
	left: -30px
}

#div-6right .message input[type="radio"] {
	cursor: pointer;
	z-index: 10;
	opacity: 0;
	position: relative;
	top: 170px;
	left: 24px;
}

#div-6right .message input[type="radio"]:checked~ .msg {
	display: none;
}

#div-6right .message input[type="radio"]:checked~ .newlist {
	background-color: #ffffff;
} 

#div-6right .message input[type="radio"]:nth-of-type(1):checked~.newlist1 {
	background-color: #6C5C5C;
}
#div-6right .message input[type="radio"]:nth-of-type(1):checked~.msg1 {
	display: block;
}

#div-6right .message input[type="radio"]:nth-of-type(2):checked~.newlist2 {
	background-color: #6C5C5C;
}
#div-6right .message input[type="radio"]:nth-of-type(2):checked~.msg2 {
	display: block;
}
#div-6right .message input[type="radio"]:nth-of-type(3):checked~.newlist3 {
	background-color: #6C5C5C;
}
#div-6right .message input[type="radio"]:nth-of-type(3):checked~.msg3 {
	display: block;
}

#div-7 {
	width: 100%;
	height: 520px;
}
#div-7 .class7 {
	height: 520px;
	float: left;
	text-align: center;
	font-size: 20px;
}

#div-7 .class71 {
	width: 34%;
	background-color: #e74f4d;
	color: #ffffff;
}
#div-7 .class71 .button {
	border: 1px solid #ffffff;
	width: 175px;
	height: 45px;
	line-height: 2;
	cursor: pointer;
}

#div-7 .class72 {
	width: 34%;
	color: #000000;
}

#div-7 .class72 .button {
	border: 1px solid #000000;
	width: 175px;
	height: 45px;
	line-height: 2;
	cursor: pointer;
}

#div-7 .class73 {
	width: 32%;
	background-image: url(../images/pic08.jpg);
	background-size: cover;
}