body {
    background:#369;
    font:normal normal 14px/1.4 Microsoft YaHei ;
    padding:50px;
}

#board{
    width:60%;
    margin:3em auto;
    background: white;
    border:.5em solid #69C;
    border-radius: .5em;
}
#nav{
    padding: 1em 2em;
    background: #06aE9B;
    height: 2em;
}
#list{
    padding: 2em;
}

#menu{
    color:#123;
}
#menu .btnGroup{
    padding-left: 1em;
    display: inline-block;
}
.tree,
.tree ul {
    margin:0 0 0 1em;
    padding:0;
    list-style:none;
    color:#123;
    position:relative;
}

.tree:before,
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.tree li {
    margin:0;
    padding:0 .5em;
    line-height:2em;
    position:relative;
}

.tree li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}

.tree li .title>i{
    margin-left: .5em;
}

.tree li:last-child:before {
    background:white;
    height:auto;
    top:1em;
    bottom:0;
}
.tree li .btnGroup{
    padding-left: 1em;
    display: none;
}
.btnGroup>i{
    margin-right:0.5em;
}
/* hover  */
.tree li>.title:hover,
#menu:hover{
    cursor:pointer;
    color:dimgray;
}
.tree li>.title:hover>.btnGroup{
    display: inline-block;
}
.btnGroup>i:last-child:hover{
    color: #4663d8;
}
.btnGroup>i:nth-child(2):hover{
    color: #d84663;
}
.btnGroup>i:first-child:hover{
    color: #06aE9B;
}